[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
email-validator = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
wtforms = "*"
flask-wtf = "*"
alembic = "*"
flask-migrate = "*"
flask-jwt-extended = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"
rope = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
